[user]
	email = sakataku7@gmail.com
	name = sachaos

[core]
    editor = "emacsclient -nw -a ''"
	excludesfile = ~/.gitignore_global

[alias]
    log = log --oneline --decorate --graph
    pr  = pull-request
    pl  = pull
    ps  = push
    st  = status
    co  = checkout
    cp  = cherry-pick
    a   = add
    rmc = rm --cached
    cm  = commit
    cma = commit --amend
    d   = diff
    dh  = diff HEAD

[ghq]
    root = ~/.go/src
[push]
	default = matching
