[user]
	email = sakataku7@gmail.com
	name = sachaos

[core]
    editor = "emacsclient -nw -a ''"
	excludesfile = ~/.gitignore_global

[alias]
    st  = status
    co  = checkout
    a   = add
    rmc = rm --cached
    cm  = commit
    cma = commit --amend
    d   = diff

[ghq]
    root = ~/.go/src
[push]
	default = matching
