[user]
	email = sakataku7@gmail.com
	name = sachaos

[core]
    editor = "TERM=xterm-16color emacsclient -nw -a ''"
	excludesfile = ~/.gitignore_global

[alias]
    st = status
    co = checkout
    a = add
    cm = commit

[ghq]
    root = ~/.go/src
[push]
	default = matching
